@mixin font-face($font-family, $font-path, $font-weight: normal, $font-style: normal) {
    @font-face {
        font-family: $font-family;
        src: url(../../fonts/#{$font-path}) format('opentype');
        font-weight: $font-weight;
        font-style: $font-style;
        font-display: swap;
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
}

@include font-face(TTHovesD, "TTHovesDemiBold.otf", 600);
@include font-face(TTHovesM, "TTHovesMedium.otf", 500);
@include font-face(TTHovesR, "TTHovesRegular.otf", 400);

.fontLarge {
    font-size: 9vw;
    font-family: TTHovesR;
    letter-spacing: -0.4vw;
    line-height: 100%;
}

.fontMedium {
    font-size: 5vw;
    font-family: TTHovesR;
    line-height: 95%;
    letter-spacing: -0.15vw;
}

.fontSmall {
    font-size: 3vw;
    font-family: TTHovesR;
    line-height: 95%;
    letter-spacing: -0.09vw;
}

.font16 {
    font-size: 16px;
    letter-spacing: -0.3px;
}

/* Reveal text */
.reveal {
    overflow: hidden;

    h1 {
        transform: translateY(9vw);
    }
}

/* Breakpoitns */

@media (max-width: 768px) {
    .fontLarge {
        font-size: 15vw;
    }

    .fontMedium {
        font-size: 7vw;
    }

    .fontSmall {
        font-size: 5vw;
    }

    .reveal {
        h1 {
            transform: translateY(15vw);
        }
    }
}

@media (max-width: 560px) {
    .fontLarge {
        font-size: 20vw;
        letter-spacing: -1vw;
    }

    .fontMedium {
        font-size: 12vw;
    }

    .fontSmall {
        font-size: 8vw;
    }

    .reveal {
        h1 {
            transform: translateY(20vw);
        }
    }
}
