// Header
.header {
    position: relative;
    display: flex;
    align-items: flex-end;
    height: 100vh;
    overflow: hidden;

    .wrapper {
        width: 100%;
        display: flex;
        gap: $gap;

        .text {
            display: flex;
            width: 100%;
            flex-direction: column;
            gap: $gap;
            margin-top: $gap;

            p {
                &:nth-child(1) {
                    width: 100%;
                    max-width: 200px;
                }
                &:nth-child(2) {
                    width: 100%;
                    max-width: 400px;
                }
            }
        }

        .headerImg {
            width: 60%;
            height: 80vh;
            object-fit: cover;
            cursor: pointer;
            pointer-events: none;
            filter: grayscale(100%);
            transition: filter 0.5s ease;
        }

        &:hover .headerImg {
            cursor: pointer;
            filter: grayscale(0%);
        }
    }

    /* Marquee */
    .marquee {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100vw;
        max-width: 100%;
        height: 10vw;
        overflow-x: hidden;

        .track {
            position: absolute;
            white-space: nowrap;
            will-change: transform;
            animation: marquee 64s linear infinite;
            mix-blend-mode: difference;
            color: #fff;
        }

        @keyframes marquee {
            from {
                transform: translateX(0);
            }
            to {
                transform: translateX(-50%);
            }
        }
    }
}

// About
.about {
    width: 100%;
    padding-top: 10vw;
    padding-bottom: 10vw;

    .about_text {
        padding-top: 10vw;
        padding-bottom: 10vw;
        padding-right: 4vw;
        display: flex;
        align-items: flex-end;
        gap: $gap;

        P {
            width: 25%;
        }
        h2 {
            width: 75%;
        }
    }

    // Core Tools
    .tools {
        display: flex;
        overflow: hidden;

        gap: $gap;

        .tools_heading {
            width: 23.5%;
        }

        .tools_wrapper {
            width: 75%;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            gap: 4vw;
            > div {
                p {
                    width: 100%;
                    max-width: 650px;
                    margin-top: 20px;
                    color: $grey;
                }
            }
        }
    }
}

/* BreakPoints */

@media (max-width: 1068px) {
    .about {
        .about_text {
            padding-top: 5vw;
            padding-bottom: 20vw;
            padding-right: 0;
            align-items: start;
            gap: 5vw;
            flex-direction: column;

            P {
                width: 100%;
            }
            h2 {
                width: 100%;
            }
        }
    }
}

@media (max-width: 768px) {
    // Header
    .header {
        height: auto;
        padding-top: 200px;
        .wrapper {
            flex-direction: column-reverse;
            .text {
                gap: 2vw;
            }
            .headerImg {
                width: 100%;
            }
        }
        /* Marquee */
        .marquee {
            height: 17vw;
            bottom: 30vw;
        }
    }

}

@media (max-width: 560px) {
    // Header
    .header {
        .wrapper {
            .text {
                gap: 8vw;
            }
            .headerImg {
                height: 60vh;
            }
        }
        /* Marquee */
        .marquee {
            height: 25vw;
            bottom: 20vw;
        }
    }

    // About
    .about {
        padding-top: 20vw;
        padding-bottom: 20vw;
        .about_text {
            padding-top: 10vw;
            padding-bottom: 30vw;
            gap: 10vw;
        }

        // Core Tools
        .tools {
            flex-direction: column;
            gap: 10vw;

            .tools_heading {
                width: 100%;
            }

            .tools_wrapper {
                width: 100%;
                gap: 12vw;
            }
        }
    }

}
