// Works
.works {
    .work_heading {
        padding-bottom: 10vw;
        padding-top: 10vw;

        .reveal {
            text-align: right;
        }

        .txt {
            width: 100%;
            max-width: 600px;
            margin-top: 5vw;
        }
    }
    .work {
        position: relative;
        width: 100vw;
        padding-top: 10vw;
        padding-bottom: 10vw;
        transition: background-color 0.5s ease;
        overflow: hidden;

        .overlay {
            position: absolute;
            top: 0%;
            left: 15.25%;
            width: 100%;
            height: 100%;
            pointer-events: none;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1em;
            transition: 1s;
            opacity: 0;

            .prev {
                position: relative;
                width: 500px;
                height: auto;
                transform: rotate(10deg);
                transition: transform 0.5s ease;

                &.active {
                    transform: rotate(12.5deg);
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            #prev-1 {
                top: -500px;
            }

            #prev-2 {
                top: 0;
            }

            #prev-3 {
                top: 500px;
            }

            #prev-4 {
                top: 1000px;
            }
        }

        .work-item {
            position: relative;
            width: 100%;
            padding: 2em 0;
            display: flex;
            align-items: center;
            gap: 2em;
            border-bottom: 1px solid rgba(198, 198, 198, 0.5);
            h2 {
                font-size: 4vw;
            }

            &#w-4 {
                border-bottom: none;
            }

            .work-item-name {
                display: flex;
                gap: 20px;

                span {
                    font-size: 14px;
                }
            }

            .work-item-icon {
                position: relative;
                width: 70px;
                height: 70px;
                border-radius: 100%;
                background: $dark;
                color: $white;
                overflow: hidden;
                left: -20px;
                opacity: 0;
                transition: 0.2s;

                .icon-holder {
                    position: absolute;
                    width: 70px;
                    height: 70px;
                    border-radius: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: 0.5s;
                    color: $white;

                    svg {
                        width: 20px;
                        height: 20px;
                    }

                    &.i-1 {
                        transition-delay: 0.2s;
                        left: -70px;
                    }

                    &.i-2 {
                        left: 0px;
                    }
                }
            }

            &:hover {
                .work-item-icon {
                    opacity: 1;
                    left: 0px;

                    .i-1 {
                        left: 0;
                    }
                    .i-2 {
                        left: 70px;
                    }
                }
            }
        }

        &:hover {
            .overlay {
                opacity: 0.5;
            }
        }
    }

    .work.hovered .work-item {
        border-bottom: 1px solid $dark;
    }

    .work.hovered .work-item#w-4 {
        border-bottom: none;
    }
}

.bg-color-one {
    background-color: #d5fbe2;
}

.bg-color-two {
    background: #f0e8e6;
}

.bg-color-three {
    background: #fffbd1;
}

.bg-color-four {
    background: #c4dcc5;
}

/* BreakPoints */

@media (max-width: 768px) {
    .works {
        .work {
            .work-item {
                padding: 1em 0;
                gap: 2em;
                h2 {
                    font-size: 7vw;
                    letter-spacing: -0.2vw;
                }
                .work-item-icon {
                    scale: 0.8;

                    .icon-holder {
                        scale: 0.8;
                    }
                }
            }
        }
    }
}

@media (max-width: 560px) {
    .works {
        .work_heading {
            padding-bottom: 20vw;
            padding-top: 20vw;

            .txt {
                margin-top: 10vw;
            }
        }
        .work {
            padding-top: 20vw;
            padding-bottom: 20vw;
            .work-item {
                h2 {
                    font-size: 10vw;
                    letter-spacing: -0.3vw;
                }
            }
        }
    }
}
